@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
  font-family: 'Noto Serif', serif;
}

.container {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.content {
  margin-top: 10%;
  position: relative;
  padding: 1rem;
  color: white;
}

.app-bgimage {
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 80%;
}

.title {
  color: white;
  font-size: 2rem;;
  text-shadow: 1px 1px 10px rgba(204,122,42,255), 1px 1px 10px rgba(204,122,42,255);
}

footer a {
  color: rgba(204,122,42,255);
  font-weight: bold;
  text-decoration: none;
}