@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
  font-family: 'Noto Serif', serif;
  background-color: black;
}

.fixed-background {
  background-image: url("../titlewallpaper.png");
  background-position: center; 
  height: 100vh;
  background-repeat: no-repeat; 
  background-size: cover; 
  overflow: auto;
}

.container {
  text-align: center;
  position: relative;
  padding: 4rem 1rem 1rem;
  color: white;
  margin: 0 auto;
  max-width: 55rem;
}

.wrapper {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

.logo {
  width: 100%;
  display: block;
}

.preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 2rem;
  border: 0.25rem solid white;
  /* padding: 0.5rem; */
}

p {
  padding: 0.5rem;
}

.title {
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 10px rgba(204, 122, 42, 255),
    1px 1px 10px rgba(204, 122, 42, 255);
}

a {
  color: rgba(204, 122, 42, 255);
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-device-width: 750px) {

  .fixed-background {
    background-image: none;
  }

  .wrapper {
    top: auto;
    left: auto;
    transform: none;
  }

  .title {
    font-size: 1rem;
  }

  .preview {
    width: 85%;
  }
}
