@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
  font-family: 'Noto Serif', serif;
  background-color: black;
}

.container {
  text-align: center;
  position: relative;
  padding: 4rem 1rem 1rem;
  color: white;
  margin: 0 auto;
  max-width: 55rem;
}

img {
  width: 100%;
}

.title {
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 10px rgba(204, 122, 42, 255),
    1px 1px 10px rgba(204, 122, 42, 255);
}

footer a {
  color: rgba(204, 122, 42, 255);
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-device-width: 750px) {
  .title {
    font-size: 1rem;
  }
}
