.timer-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .timer-cards {
    flex-wrap: nowrap;
  }
}
